

.catList {
    width: 200px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: black solid 1px;
    gap: 10px;
}

.catListHead {
    width: 170px;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: black solid 2px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.catListHead > span{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}

.catListHead > button{
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
}

.catListHead > button > div{
    width: 30px;
    height: 30px;
    background: gray;
    border-radius: 100%;
}

.catListHead > button > span{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.catListBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    overflow: scroll;
}

.catListBody > a {
    width: 100%;
    transition: background 0.3s ease-in-out;
    box-sizing: border-box;
    border-top: transparent dashed 1px;
    border-bottom: transparent dashed 1px;
    font-weight: 300;
}

.catListBody > a:hover {
    border-bottom-color: black;
    border-top-color: black;
    font-weight: 600;
}

.catListBody > a > span {
    line-height: 38px;
    padding-left: 20px;
    transition: padding-left 0.3s ease-in-out;
}

.catListBody > a:hover > span {
    padding-left: 30px;
}

