


.dropBox {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    background-color: rgb(var(--background-color));
    border: rgb(var(--primary-color)) solid 1px;
}

.dropBox:focus {
    outline: none;
}


.dropBoxScroll {
    width: 100%;
    max-height: 200px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}