


.dropBox {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(var(--background-color));
    box-shadow: 0 0 5px 5px rgba(var(--primary-color), 0.1);
}

.dropBox:focus {
    outline: none;
}


.dropBoxScroll {
    width: 100%;
    max-height: 200px;
    overflow: scroll;
}