

.folderTree {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 400px;
}

.addNewFolder {
    padding: 5px 10px;
    transition: background-color 0.3s, border-radius 0.3s;
    margin-bottom: 5px;
}

.addNewFolder:hover{
    border-radius: 5px;
    background-color: rgba(var(--primary-color), 0.1);
}